
.vs/

PLC_Client/bin/

AutomationDashboard.Common/bin/

AutomationDashboard/bin/

TestApp/bin/

TestApp/obj/

PLC_Client/obj/

AutomationDashboard/obj/

AutomationDashboard.Common/obj/

Alveo-Automation-Dashboard-UI/.vscode/
